.photo-row {
  display: flex;
}

.photo-container {
  flex-frow: 1;
  padding: 2em;
  font-size: 20px;
  margin:1em;
  padding:1em;
  text-align:center;
}

.photo-container img {
  border-radius: 20px;
  max-height: 198px;
}

#big-container {
  display:none;
  position: fixed;
  z-index: 999;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  width:90vw;
  padding:10%;
  background-color: rgba(0,0,0,0.5);
  overflow-y: scroll;
}

#big-container div {
  width:70%;
  padding:5%;
  background-color: gray;
}

#big-img {
  max-height: 75vh;
}
