
body {
  background-color:#a2bab5;
  color:black;
  text-align:left;
  font-family: Roboto;
  margin-left: 5%;
  margin-right:10%;
}

#bg {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -999;
  width: 150vw;
  height: 150vh;
}

.heading{
  font-family:Bebas+Neue, cursive;
  text-align: center;
  font-size: 300%;
  color: black;
  text-shadow:#401bff 2px 2px;
}

h2.heading{
  font-size:200% ;
}

.bordered {
  border-style: solid;
  border-color: #d6dbec;
  border-width: 3px;
  padding: 5px;
  border-radius: 9px;
  margin: 5px;
  background-color: rgba(214,219,236,0.4);
  color: #55555
}

a {
  text-decoration:none;
  font-weight: 700;
  color: #117a0a;
}

a:hover {
  color: #1abc0f;
}
hr {
  height: 2px;
  border: 0px;
  background-color:#419999
}

#footer {
  font-size: 120%;
  text-align: center;
}

#nav-list {
  display:flex;
  justify-content: center;
  list-style-type:none;
  position:relative;
  background-color:white;
}

#nav-list > li {
  flex-grow:1;
  width: 15%;
  display:block;
}

#nav-list ul {
  display:none;
  background-color:white;
}

nav-list li:hover {
  background-color:gray;
  color:gray;
}

#nav-list li:hover ul {
  display:block;
}

#nav-list li ul {
  list-style-type:none;
  padding:0px;
  position:absolute;
}
