body {
  margin:0px;
  background-color:#808080;
}

#content, #album, #info {
  float:left;
}

#content {
  width:50%;
}

#album {
  width:30%;
}

#info {
  max-width: 18%;
}

#player button {
  float:left;
}

#player audio::-webkit-media-controls-play-button {
  display: none;
}

#player audio {
  height: 1em;
}

#banner{
  width:100%;
  height:auto;
}

#tracklist {
  list-style-type: none;
}

.track-li {
  font-size: 125%;
  font-style: italic;
}

.track-player::-webkit-media-controls-panel {
  background-color:rgba(128, 128, 128,1);
}

.track-player {
  height: 2m;
}

#album-cover {
  width: 100%;
  height: 100%;
}

#info img{
  max-width: 95%;
  margin: auto;
}
