body {
  margin:0px;
}
#bg {
  position:fixed;
  z-index:-999;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
}

#preheader{
  text-align: center;
  background-color: rgba(255,255,255,1);
  margin-top:0px;
}

#header {
  position:sticky;
  top:0px;
  background-color:rgba(255,255,255,1);
  margin-top:0px;
  height:40px;
  text-align:center;
  
}

.navlink {
  display: inline-block;
  width:24vw;
  text-decoration: none;
  color:black;
  margin-left:50px;
  margin-top:10px;
}

#hi {
  width:50%;
  height:3px;
  border: 0px;
  background-color:black;
}
.article {
  margin-left:10%;
  margin-right:10%;
}

#content {
  z-index:1;
  background-color: rgba(255,255,255,0.8);
  margin-left:15%;
  margin-right:15%;
}
#article headings {
  text-align: center;
}
#footer {
  background-color:gray;
  padding:10px;
  display: inline-block;
  width:100%;
}


#footer-publish-info {
  display:inline;
  float:left;
}
#footer-publish-info-2 {
  display:inline;
  float:right;
}
